
html, body {
	/*padding-top: 5px;*/
	/*min-height: 100%;*/
    background: #fdfdfd;
    /*overflow: hidden;*/
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

#container {
	padding: 2px;
}

#container h1 {
	transition: all .4s ease;
	opacity: 1;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 11px rgba(0,0,0,0.1);
	position: fixed;
	width: 300px;
	top: 250px;
	right: 30px;
	font-size: 50px;
	line-height: 0.9em;
	letter-spacing: -2px;
	-webkit-font-smoothing: antialiased;
}

#container.inactive h1 {
	opacity: 0;
	right: -100px;
}

#container small {
	display: block;
	font-size: 20px;
	letter-spacing: 0;
	font-weight: 200;
	line-height: 2em;
	border-top: 1px solid rgba(0,0,0,0.5);
	margin-top: 10px;
	padding: 2px 5px;
}
