
html, body {
	/*padding-top: 5px;*/
	min-width: 1025px;
    background: #fdfdfd;
    
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
	overflow-x: hidden;
}

#container {
	padding: 2px;
	position: relative;
}

#container h1 {
	transition: all .4s ease;
	opacity: 1;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 11px rgba(0,0,0,0.1);
	position: fixed;
	width: 300px;
	top: 250px;
	right: 30px;
	font-size: 50px;
	line-height: 0.9em;
	letter-spacing: -2px;
	-webkit-font-smoothing: antialiased;
}

#container.inactive h1 {
	opacity: 0;
	right: -100px;
}

#container small {
	display: block;
	font-size: 20px;
	letter-spacing: 0;
	font-weight: 200;
	line-height: 2em;
	border-top: 1px solid rgba(0,0,0,0.5);
	margin-top: 10px;
	padding: 2px 5px;
}

canvas {
	transition: opacity .5s linear;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	/*display: none;*/
}

.map {
	/*display: block;*/
	opacity: 0;
	z-index: 1;
}

.timeslice {
	transition: all .4s ease;
	opacity: 1;
	position: fixed;
	bottom: 20px;
	right: 30px;
	height: 100px;
	width: 300px;
	background: rgba(0,0,0,0.8);
	color: white;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}

#container.inactive .timeslice {
	opacity: 0;
	right: -100px;
}

.info_container {
	line-height: 1.9em;
	font-size: 1em;
}